target/classes/
target/dependency/
target/spiderman-0.0.1-SNAPSHOT.jar
target/maven-archiver/
target/maven-status/
target/*
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
config.properties
.settings/
*.jpg
shade.txt
website.html
.dadbotId
# Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
!/.mvn/wrapper/maven-wrapper.jar
*.class
classpath.txt
test-classpath.txt
javaconfig.json
.classpath
.vscode/
.env

.access
.botId
target/*.jar
/target/
.idea/
spiderman.iml